<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721666833230-651egt4m9roqvnidqdimh5meno0fc7k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721666833230-651egt4m9roqvnidqdimh5meno0fc7k3</string>
	<key>API_KEY</key>
	<string>AIzaSyDZkEjk64vY-aHRYNOeAUlNCAkzHydxTkU</string>
	<key>GCM_SENDER_ID</key>
	<string>721666833230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moneylover.mobile.staging</string>
	<key>PROJECT_ID</key>
	<string>appmoney-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>appmoney-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721666833230:ios:2bd03f87b8e6cea4e0bc1f</string>
</dict>
</plist>