<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151311535175-0at6dlt2ltohadepb7p2ga4k9tmjs9vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151311535175-0at6dlt2ltohadepb7p2ga4k9tmjs9vr</string>
	<key>API_KEY</key>
	<string>AIzaSyAJi3NSvVbsq2NYiF5UcX7KYP_4zQCCKEE</string>
	<key>GCM_SENDER_ID</key>
	<string>151311535175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daominhquan.moneyApp</string>
	<key>PROJECT_ID</key>
	<string>app-money-36e14</string>
	<key>STORAGE_BUCKET</key>
	<string>app-money-36e14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151311535175:ios:78b2c86d3c099de9693562</string>
</dict>
</plist>